<div class="container-fluid">

    <div class="row col-lg-12 page-header">
        <h1 id="forms"> Registro</h1>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="well">
                <form ng-submit="send()" class="form-horizontal">
                    <fieldset>
                        <div class="form-group col-lg-12">
                            <label for="inputEntity" class="col-lg-3 control-label"> Entidad</label>
                            <div class="col-lg-8">
                                <select id="inputEntity" class="form-control" ng-model="user.group" ng-required="true" tabindex="1" ng-change="user.unsetCompany()">
                                    <option value="AGE">Agencia marítima</option>
                                    <option value="FOR">Forwarder</option>
                                    <option value="TER">Terminal</option>
                                </select>
                            </div>
                            <div class="col-lg-1">
                                <button type="button" ui-sref="help" class="btn"><span class="glyphicon glyphicon-question-sign"></span> Ayuda</button>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <legend>Usuario del sistema</legend>
                            <div class="col-lg-12 form-group" ng-hide="user.group == 'TER'">
                                <label for="inputRazon" class="control-label"> Razón social</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="user.company" id="inputRazon" placeholder="Ingresar razón social" ng-required="true" tabindex="2">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.company = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group" ng-show="user.group == 'TER'">
                                <label for="inputTerminal" class="control-label"> Razón social</label>
                                <div class="input-group">
                                    <select type="text" class="form-control" ng-model="user.company" id="inputTerminal" placeholder="Ingresar razón social"
                                            ng-change="user.setCUIT()"
                                            ng-options="terminal.param as terminal.description for terminal in user.terminals" ng-required="true" tabindex="2">
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.company = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label for="inputCuit" class="control-label"> CUIT</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-class="user.cuit != '' && !validator.validateCuit(user.cuit) ? 'bad-input' : ''" ng-model="user.cuit" id="inputCuit" placeholder="Ingresar CUIT" ng-required="true" ng-disabled="user.group == 'TER'" only-digits disallow-spaces tabindex="3">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.cuit = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label for="inputEmail" class="control-label"> E-Mail</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" ng-class="user.email != '' && !validator.validateEmail(user.email) ? 'bad-input' : ''" ng-model="user.email" id="inputEmail" placeholder="Ingresar correo electrónico" ng-required="true" tabindex="4">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.email = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label for="inputPassword" class="control-label"> Contraseña</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" ng-model="user.password" id="inputPassword" placeholder="Ingresar contraseña" ng-required="true" tabindex="5">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.password = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label for="inputConfirmPassword" class="control-label"> Confirme contraseña</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" ng-model="confirmPassword" id="inputConfirmPassword" placeholder="Confirmar contraseña" ng-required="true" onpaste="return false" tabindex="6">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="confirmPassword = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <legend>Contacto</legend>
                            <div class="col-lg-12 form-group">
                                <label for="inputName" class="control-label"> Nombre</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="user.firstName" id="inputName" placeholder="Ingresar nombre" ng-required="true" tabindex="7">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.firstName = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label for="inputSurname" class="control-label"> Apellido</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="user.lastName" id="inputSurname" placeholder="Ingresar apellido" ng-required="true" tabindex="8">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.lastName = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label for="inputCharge" class="control-label"> Cargo</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="user.position" id="inputCharge" placeholder="Ingresar cargo" ng-required="true" tabindex="9">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.position = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label for="inputContacto" class="control-label"> E-Mail</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" ng-class="user.emailContact != '' && !validator.validateEmail(user.emailContact) ? 'bad-input' : ''" ng-model="user.emailContact" id="inputContacto" placeholder="Ingresar correo electrónico" ng-required="true" tabindex="10">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.emailContact = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label for="inputTelefono" class="control-label"> Teléfono</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="user.telephone" id="inputTelefono" placeholder="Ingresar teléfono" ng-required="true" only-digits tabindex="11">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn" ng-click="user.telephone = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <!--<div ng-hide="user.group == 'TER'">
                                <legend> Terminales con las que opera</legend>
                                <div class="col-lg-4 form-group">
                                    <label for="bactssa" class="control-label"> <input type="checkbox" ng-model="terminales.BACTSSA" ng-true-value="'BACTSSA'" class="checkbox-inline" id="bactssa" ng-change="getTerminals()" tabindex="12"> BACTSSA</label>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label for="terminal4" class="control-label"> <input type="checkbox" ng-model="terminales.TERMINAL4" ng-true-value="'TERMINAL4'" class="checkbox-inline" id="terminal4" ng-change="getTerminals()" tabindex="13"> TERMINAL 4</label>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label for="trp" class="control-label"> <input type="checkbox" ng-model="terminales.TRP" ng-true-value="'TRP'" class="checkbox-inline left" id="trp" ng-change="getTerminals()" tabindex="14"> TRP</label>
                                </div>
                            </div>-->
                        </div>

                        <div class="form-group">
                            <br>
                            <div class="col-lg-12 text-right">
                                <button type="submit" class="btn btn-primary" tabindex="15"><span class="glyphicon glyphicon-log-in"></span> Enviar</button>
                                <button type="button" ui-sref="login" class="btn" tabindex="16"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>