<div class="container-fluid">

    <div class="row page-header col-lg-12">
        <h1>Listado de Libre Deudas</h1>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5>Buscar por contenedor</h5>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="searchLde()">
                        <fieldset>
                            <div class="form-group col-lg-4">
                                <div class="input-group col-lg-11">
                                    <input type="text" class="form-control" ng-model="searchContainer" placeholder="Ingrese contenedor" ng-required="true" tabindex="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="searchContainer = ''" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span> Buscar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="col-lg-12" ng-hide="containerLde == null">
                        <table class="table top-gap">
                            <thead>
                            <tr>
                                <th>Terminal</th>
                                <th>Buque</th>
                                <th>Viaje</th>
                                <th>Contenedor</th>
                                <th>Conocimiento</th>
                                <th>Fecha devolución</th>
                                <th>Lugar devolución</th>
                                <th>CUIT</th>
                                <th>Estado</th>
                                <th ng-if="session.group != 'ADMIN'">Modificar Libre Deuda</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ containerLde.TERMINAL }}</td>
                                <td>{{ containerLde.BUQUE }}</td>
                                <td>{{ containerLde.VIAJE }}</td>
                                <td>{{ containerLde.CONTENEDOR }}</td>
                                <td>{{ containerLde.BL }}</td>
                                <td>{{ containerLde.FECHA_DEV | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ containerLde.LUGAR_DEV | lugarDevolucion: returnPlaces }}</td>
                                <td>{{ containerLde.CUIT }}</td>
                                <td class="{{ containerLde.STATUS | containerClass }}" >{{ containerLde.STATUS | containerStatus }}</td>
                                <td ng-if="session.data.group != 'ADMIN'">
                                    <button type="button"  ng-if="session.group == 'AGE' && containerLde.STATUS != 3" class="btn btn-success btn-sm" ng-click="update($event, 'enable', containerLde)" uib-tooltip="Habilitar" ng-disabled="lde.STATUS == 0"><span class="glyphicon glyphicon-ok"></span></button>
                                    <button type="button"  ng-if="session.group == 'TER' && containerLde.STATUS != 3" class="btn btn-primary btn-sm" ng-click="updateWithModal($event, 'invoice', containerLde)" uib-tooltip="Entregar"><span class="glyphicon glyphicon-edit"></span></button>
                                    <button type="button"  ng-if="session.group == 'AGE' && containerLde.STATUS != 3" class="btn btn-danger btn-sm" ng-click="update($event, 'disable', containerLde)" uib-tooltip="Anular" ng-disabled="lde.STATUS == 9"><span class="glyphicon glyphicon-remove"></span></button>
                                    <button type="button"  ng-if="session.group == 'AGE' && containerLde.STATUS != 3" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'place', containerLde)" uib-tooltip="Cambiar lugar"><span class="glyphicon glyphicon-backward"></span></button>
                                    <button type="button"  ng-if="session.group == 'FOR' && containerLde.STATUS != 3" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'forward', containerLde)" uib-tooltip="Cambiar CUIT"><span class="glyphicon glyphicon-forward"></span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>

    <div class="row hidden-print">
        <div class="col-lg-12">
            <div class="input-group top-gap">
                <input type="text" class="form-control" ng-model="search" placeholder="Filtrar..." ng-required="true" disallow-spaces toupper>
                <span class="input-group-btn"><button class="btn btn-default" type="button" uib-tooltip="Borrar" ng-click="search = ''"><span class="glyphicon glyphicon-remove"></span></button></span>
            </div>
        </div>
    </div>

    <br>

    <div ng-show="loading" class="col-lg-12">
        <img class="media-object center-block" src="./images/loading.gif">
    </div>

    <div ng-hide="dataContainers.length != 0 || loading" class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading {{ panelLde.type }}">
                <h5>Libre deuda</h5>
            </div>
            <div class="panel-body">
                <p>{{ panelLde.message }}</p>
            </div>
        </div>
    </div>

    <div class="col-lg-12" ng-hide="dataContainers.length == 0 || loading">
        <label class="checkbox"><input type="checkbox" ng-model="agruparBl" ng-change="getLdeData('el check')"> Agrupar por Conocimiento</label>
    </div>

    <div ng-hide="dataContainers.length == 0 || loading" class="table-responsive col-lg-12">
        <table class="table top-gap">
            <thead>
            <tr>
                <th ng-click="getLdeData('BL')" class="clickable">
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'BL' && !order.reverse"></i>
                    <i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="order.field == 'BL' && order.reverse"></i>
                    Conocimiento
                </th>
                <th ng-click="getLdeData('BUQUE')" class="clickable">
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'BUQUE' && !order.reverse"></i>
                    <i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="order.field == 'BUQUE' && order.reverse"></i>
                    Buque
                </th>
                <th ng-click="getLdeData('VIAJE')" class="clickable">
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'VIAJE' && !order.reverse"></i>
                    <i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="order.field == 'VIAJE' && order.reverse"></i>
                    Viaje
                </th>
                <th ng-click="getLdeData('TERMINAL')" class="clickable">
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'TERMINAL' && !order.reverse"></i>
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'TERMINAL' && order.reverse"></i>
                    Terminal
                </th>
                <th ng-click="getLdeData('CONTENEDOR')" class="clickable">
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'CONTENEDOR' && !order.reverse"></i>
                    <i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="order.field == 'CONTENEDOR' && order.reverse"></i>
                    Contenedor
                </th>
                <th ng-click="getLdeData('FECHA_DEV')" class="clickable">
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'FECHA_DEV' && !order.reverse"></i>
                    <i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="order.field == 'FECHA_DEV' && order.reverse"></i>
                    Fecha devolución
                </th>
                <th ng-click="getLdeData('LUGAR_DEV')" class="clickable">
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'LUGAR_DEV' && !order.reverse"></i>
                    <i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="order.field == 'LUGAR_DEV' && order.reverse"></i>
                    Lugar devolución
                </th>
                <th ng-click="getLdeData('CUIT')" class="clickable">
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'CUIT' && !order.reverse"></i>
                    <i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="order.field == 'CUIT' && order.reverse"></i>
                    CUIT
                </th>
                <th ng-click="getLdeData('STATUS')" class="clickable">
                    <i class="glyphicon glyphicon-sort-by-attributes" ng-show="order.field == 'STATUS' && !order.reverse"></i>
                    <i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="order.field == 'STATUS' && order.reverse"></i>
                    Estado
                </th>
                <th ng-if="session.data.group != 'ADMIN'">Modificar Libre Deuda</th>
            </tr>
            </thead>
            <tbody ng-if="!agruparBl">
            <tr ng-repeat="lde in pageContainers = (dataContainers | filter: search)" ng-class="lde.isExpired ? 'expired': ''">
                <!--<tr ng-repeat="lde in pageContainers = (dataContainers | filter: search) | startFrom: (pagination.page-1)*pagination.itemsPerPage | limitTo: pagination.itemsPerPage ">-->
                <td>{{ lde.BL }}</td>
                <td>{{ lde.TERMINAL }}</td>
                <td>{{ lde.BUQUE }}</td>
                <td>{{ lde.VIAJE }}</td>
                <td>{{ lde.CONTENEDOR }}</td>
                <td>{{ lde.FECHA_DEV | date: 'dd/MM/yyyy' }}</td>
                <td>{{ lde.LUGAR_DEV | lugarDevolucion: returnPlaces }}</td>
                <td>{{ lde.CUIT }}</td>
                <td ng-if="!lde.isExpired" class="{{ lde.STATUS | containerClass }}">{{ lde.STATUS | containerStatus }}</td>
                <td ng-if="lde.isExpired" class="text-danger">EXPIRADO</td>
                <td ng-if="session.data.group != 'ADMIN'">
                    <button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-success btn-sm" ng-click="update($event, 'enable', lde)" uib-tooltip="Habilitar" ng-disabled="lde.STATUS == 0"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button"  ng-if="session.data.group == 'TER' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-primary btn-sm" ng-click="updateWithModal($event, 'invoice', lde)" uib-tooltip="Entregar"><span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-danger btn-sm" ng-click="update($event, 'disable', lde)" uib-tooltip="Anular" ng-disabled="lde.STATUS == 9"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'place', lde)" uib-tooltip="Cambiar lugar"><span class="glyphicon glyphicon-backward"></span></button>
                    <button type="button"  ng-if="session.data.group == 'FOR' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'forward', lde)" uib-tooltip="Cambiar CUIT"><span class="glyphicon glyphicon-forward"></span></button>
                </td>
            </tr>
            </tbody>

            <tbody ng-if="agruparBl" ng-repeat="bl in pageBl = (dataBl | filter: search) | startFrom: (pagination.page-1)*pagination.itemsPerPage | limitTo: pagination.itemsPerPage">
            <tr ng-click="bl.detallar = !bl.detallar" class="bl-row">
                <td>{{ bl.BL }}</td>
                <td>{{ bl.BUQUE }}</td>
                <td>{{ bl.VIAJE }}</td>
                <td></td>
                <td>{{ bl.cantidadLdes }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button"  ng-if="session.data.group == 'AGE'" class="btn btn-success btn-sm" ng-click="update($event, 'enable', bl)" uib-tooltip="Habilitar" ng-disabled="lde.STATUS == 0"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button"  ng-if="session.data.group == 'TER'" class="btn btn-primary btn-sm" ng-click="updateWithModal($event, 'invoice', bl)" uib-tooltip="Entregar"><span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button"  ng-if="session.data.group == 'AGE'" class="btn btn-danger btn-sm" ng-click="update($event, 'disable', bl)" uib-tooltip="Anular" ng-disabled="lde.STATUS == 9"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button"  ng-if="session.data.group == 'AGE'" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'place', bl)" uib-tooltip="Cambiar lugar"><span class="glyphicon glyphicon-backward"></span></button>
                    <button type="button"  ng-if="session.data.group == 'FOR'" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'forward', bl)" uib-tooltip="Cambiar CUIT"><span class="glyphicon glyphicon-forward"></span></button>
                </td>
            </tr>
            <tr ng-repeat="lde in bl.ldeList" ng-class="lde.isExpired ? 'expired': ''" ng-show="bl.detallar">
            <!--<tr ng-repeat="lde in pageContainers = (dataContainers | filter: search) | startFrom: (pagination.page-1)*pagination.itemsPerPage | limitTo: pagination.itemsPerPage ">-->
                <td></td>
                <td></td>
                <td></td>
                <td>{{ lde.TERMINAL }}</td>
                <td>{{ lde.CONTENEDOR }}</td>
                <td>{{ lde.FECHA_DEV | date: 'dd/MM/yyyy' }}</td>
                <td>{{ lde.LUGAR_DEV | lugarDevolucion: returnPlaces }}</td>
                <td>{{ lde.CUIT }}</td>
                <td ng-if="!lde.isExpired" class="{{ lde.STATUS | containerClass }}">{{ lde.STATUS | containerStatus }}</td>
                <td ng-if="lde.isExpired" class="text-danger">EXPIRADO</td>
                <td ng-if="session.data.group != 'ADMIN'">
                    <button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-success btn-sm" ng-click="update($event, 'enable', lde)" uib-tooltip="Habilitar" ng-disabled="lde.STATUS == 0"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button"  ng-if="session.data.group == 'TER' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-primary btn-sm" ng-click="updateWithModal($event, 'invoice', lde)" uib-tooltip="Entregar"><span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-danger btn-sm" ng-click="update($event, 'disable', lde)" uib-tooltip="Anular" ng-disabled="lde.STATUS == 9"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'place', lde)" uib-tooltip="Cambiar lugar"><span class="glyphicon glyphicon-backward"></span></button>
                    <button type="button"  ng-if="session.data.group == 'FOR' && lde.STATUS != 3 && !lde.isExpired" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'forward', lde)" uib-tooltip="Cambiar CUIT"><span class="glyphicon glyphicon-forward"></span></button>
                    <!-- 20232505789 -->
                </td>
            </tr>
            <!--<tr ng-repeat="detail in data.RETURN_TO" ng-init="data.SHOW = false" ng-show="data.SHOW" class="child-row">
                <td colspan="5" class="text-right text-bold"><span class="glyphicon glyphicon-edit"></span> Lugar y fecha de devolución</td>
                <td>{{ detail.DATE_TO | date: 'dd/MM/yyyy' }}</td>
                <td>{{ detail.PLACE }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ detail.AUD_TIME | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ detail.AUD_USER }}</td>
            </tr>
            <tr ng-repeat="detail in data.CLIENT" ng-show="data.SHOW" class="child-row">
                <td colspan="7" class="text-right text-bold"><span class="glyphicon glyphicon-edit"></span> Cliente</td>
                <td>{{ detail.COMPANY }}</td>
                <td>{{ detail.CUIT }}</td>
                <td></td>
                <td>{{ detail.AUD_TIME | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ detail.AUD_USER }}</td>
            </tr>
            <tr ng-repeat="detail in data.STATUS track by $index" ng-show="data.SHOW" class="child-row">
                <td colspan="9" class="text-right text-bold"><span class="glyphicon glyphicon-edit"></span> Estado del contenedor</td>
                <td class="{{ data.STATUS[$index].STATUS | containerClass }}">{{ detail.STATUS | containerStatus }}</td>
                <td>{{ detail.AUD_TIME | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ detail.AUD_USER }}</td>
            </tr>-->
            </tbody>
        </table>

    </div>

    <div class="col-lg-12 hidden-print hidden-xs" ng-show="totalBl > pagination.itemsPerPage" ng-if="agruparBl">
        <div class="text-center visible-sm"><uib-pagination boundary-links="true" ng-change="getLdeData('gato')" total-items="totalBl" items-per-page="pagination.itemsPerPage" ng-model="pagination.page" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
        <div class="text-center visible-md"><uib-pagination boundary-links="true" ng-change="getLdeData('gato')" total-items="totalBl" items-per-page="pagination.itemsPerPage" ng-model="pagination.page" max-size="15" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
        <div class="text-center visible-lg"><uib-pagination boundary-links="true" ng-change="getLdeData('gato')" total-items="totalBl" items-per-page="pagination.itemsPerPage" ng-model="pagination.page" max-size="19" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
    </div>

    <div class="col-lg-12 hidden-print hidden-xs" ng-show="totalContainers > pagination.itemsPerPage" ng-if="!agruparBl">
        <div class="text-center visible-sm"><uib-pagination boundary-links="true" ng-change="getLdeData('otro')" total-items="totalContainers" items-per-page="pagination.itemsPerPage" ng-model="pagination.page" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
        <div class="text-center visible-md"><uib-pagination boundary-links="true" ng-change="getLdeData('otro')" total-items="totalContainers" items-per-page="pagination.itemsPerPage" ng-model="pagination.page" max-size="15" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
        <div class="text-center visible-lg"><uib-pagination boundary-links="true" ng-change="getLdeData('otro')" total-items="totalContainers" items-per-page="pagination.itemsPerPage" ng-model="pagination.page" max-size="19" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
    </div>
    <div class="col-lg-12 hidden-print visible-xs" ng-show="totalContainers > pagination.itemsPerPage">
        <uib-pager total-items="totalContainers" ng-click="getLdeData('yo?')" ng-model="pagination.page" previous-text="<< Anterior" next-text="Siguiente >>"></uib-pager>
    </div>

    <div class="col-lg-12 right text-right">
        <button ng-if="session.data.group == 'AGE'" type="button" class="btn btn-primary" ui-sref="lde.new"><i class="glyphicon glyphicon-open"></i> Nuevo Libre Deuda</button>
    </div>


    <div ui-view></div>


</div>