<div class="modal-header bg-info">
    <h3 class="modal-title">Actualización LDE</h3>
</div>
<div class="modal-body">
    <div ng-if="operation == 'invoice'">
        <form class="form-horizontal" ng-submit="save()">
            <fieldset>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <span class="input-group-addon glyphicon glyphicon-inbox"></span>
                        <input type="text" class="form-control" ng-model="updateModel.EMAIL_CLIENTE" placeholder="Ingresar mail del cliente" ng-required="true" autocomplete="off">
                    </div>
                </div>
                <div class="form-group hidden-xs">
                    <div class="col-lg-12 text-right">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Guardar</button>
                        <button type="button" ng-click="cancel()" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div ng-if="operation == 'place'">
        <form class="form-horizontal" ng-submit="save()">
            <fieldset>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <span class="input-group-addon glyphicon glyphicon-export"></span>
                        <input type="text" class="form-control" ng-model="updateModel.LUGAR_DEV" id="return" placeholder="Ingresar lugar de devolución" ng-required="true">
                    </div>
                </div>
                <!-- TODO: POR AHORA NO ESTÁ IMPLEMENTADA UNA TABLA CON LOS LUGARES POSIBLES DE DEVOLUCIÓN, ASÍ QUE HASTA ENTONCES, ESE CAMPO SERÁ UN TEXTO LIBRE -->
                <!--<div class="form-group">
                    <div class="input-group col-lg-12">
                        <span class="input-group-addon glyphicon glyphicon-export"></span>
                        <input type="text" class="form-control" ng-model="updateModel.LUGAR_DEV" id="return" placeholder="Ingresar lugar de devolución" ng-required="true" uib-typeahead="place._id as place.NOMBRE for place in returnPlaces | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-input-formatter="formatPlace($model)">
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <span class="input-group-addon glyphicon glyphicon-calendar" ng-click="openDate()"></span>
                        <input type="text" class="form-control" ng-model="updateModel.FECHA_DEV" uib-datepicker-popup="{{datePopUp.format}}" is-open="datePopUp.opened" datepicker-options="datePopUp.options" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" ng-required="true">
                    </div>
                </div>
                <h5>
                    Si desea que se informe de este cambio al cliente por email, puede ingresar aquí la dirección correspondiente:
                </h5>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                        <input type="text" class="form-control" ng-model="updateModel.EMAIL" id="email" placeholder="Ingresar dirección de correo del cliente" style="resize: vertical">
                    </div>
                </div>
                <div class="form-group hidden-xs">
                    <div class="col-lg-12 text-right">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Guardar</button>
                        <button type="button" ng-click="cancel()" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div ng-if="operation == 'forward'">
        <form class="form-horizontal" ng-submit="save()">
            <fieldset>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                        <input type="text" class="form-control" ng-model="updateModel.CUIT"  ng-class="updateModel.CUIT != '' && !validCuit ? 'bad-input' : ''" placeholder="Ingresar CUIT" ng-change="validateCuit()" ng-required="true" autocomplete="off" only-digits disallow-spaces>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <span class="input-group-addon glyphicon glyphicon-calendar" ng-click="openDate()"></span>
                        <input type="text" class="form-control" ng-model="updateModel.FECHA_DEV" uib-datepicker-popup="{{datePopUp.format}}" is-open="datePopUp.opened" datepicker-options="datePopUp.options" close-text="Cerrar" current-text="Hoy" clear-text="Borrar">
                    </div>
                </div>
                <div class="form-group hidden-xs">
                    <div class="col-lg-12 text-right right">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Guardar</button>
                        <button type="button" ng-click="cancel()" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>