<div class="container-fluid">

    <div class="row page-header col-lg-12">
        <h1>Listado de Pre-Gates</h1>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5>Buscar por contenedor</h5>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="searchPreGate()">
                    <fieldset>
                        <div class="form-group col-lg-4">
                            <div class="input-group col-lg-11">
                                <input type="text" class="form-control" ng-model="searchContainer" placeholder="Ingrese contenedor" ng-required="true" tabindex="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="searchContainer = ''" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span> Buscar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="col-lg-12" ng-hide="containerPreGate == null">
                    <table class="table top-gap">
                        <thead>
                        <tr>
                            <th>Contenedor</th>
                            <th>Certificado</th>
                            <th>Fecha de asociación</th>
                            <th>Estado</th>
                            <th ng-if="session.data.group != 'ADMIN'">Modificar Libre Deuda</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="preGate in preGates | filter: search">
                            <td>{{ containerPreGate.CONTENEDOR }}</td>
                            <td>{{ containerPreGate.CERTIFICADO }}</td>
                            <td>{{ containerPreGate.FECHA | date: 'dd/MM/yyyy' }}</td>
                            <td class="{{ containerPreGate.LASTSTATUS | containerClass }}">{{ containerPreGate.LASTSTATUS | containerStatus }}</td>
                            <td ng-if="session.data.group != 'ADMIN'">
                                <!--<button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3" class="btn btn-success btn-sm" ng-click="update($event, 'enable', lde)" uib-tooltip="Habilitar" ng-disabled="lde.STATUS == 0"><span class="glyphicon glyphicon-ok"></span></button>-->
                                <button type="button"  ng-if="session.data.group == 'TER' && containerPreGate.LASTSTATUS != 3" class="btn btn-primary btn-sm" ng-click="update($event, 'deliver', containerPreGate)" uib-tooltip="Entregar"><span class="glyphicon glyphicon-edit"></span></button>
                                <button type="button"  ng-if="session.data.group == 'AGE' && containerPreGate.LASTSTATUS != 3" class="btn btn-danger btn-sm" ng-click="update($event, 'disable', containerPreGate)" uib-tooltip="Anular" ng-disabled="pregate.LASTSTATUS == 9"><span class="glyphicon glyphicon-remove"></span></button>
                                <!--<button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'place', lde)" uib-tooltip="Cambiar lugar"><span class="glyphicon glyphicon-backward"></span></button>
                                <button type="button"  ng-if="session.data.group == 'FOR' && lde.STATUS != 3" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'forward', lde)" uib-tooltip="Cambiar CUIT"><span class="glyphicon glyphicon-forward"></span></button>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidden-print">
        <div class="col-lg-12">
            <div class="input-group top-gap">
                <input type="text" class="form-control" ng-model="search" placeholder="Filtrar..." ng-required="true" disallow-spaces toupper>
                <span class="input-group-btn"><button class="btn btn-default" type="button" uib-tooltip="Borrar" ng-click="search = ''"><span class="glyphicon glyphicon-remove"></span></button></span>
            </div>
        </div>
    </div>

    <br>

    <div ng-hide="preGates.length != 0" class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading {{ panelPreGate.type }}">
                <h5>Pre-Gate</h5>
            </div>
            <div class="panel-body">
                <p>{{ panelPreGate.message }}</p>
            </div>
        </div>
    </div>

    <div ng-hide="preGates.length == 0" class="table-responsive col-lg-12">
        <table class="table top-gap">
            <thead>
            <tr>
                <th>Contenedor</th>
                <th>Certificado</th>
                <th>Fecha de asociación</th>
                <th>Estado</th>
                <th ng-if="session.data.group != 'ADMIN'">Modificar Libre Deuda</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="preGate in preGates | filter: search">
                <td>{{ preGate.CONTENEDOR }}</td>
                <td>{{ preGate.CERTIFICADO }}</td>
                <td>{{ preGate.FECHA | date: 'dd/MM/yyyy' }}</td>
                <td class="{{ preGate.LASTSTATUS | containerClass }}">{{ preGate.LASTSTATUS | containerStatus }}</td>
                <td ng-if="session.data.group != 'ADMIN'">
                    <!--<button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3" class="btn btn-success btn-sm" ng-click="update($event, 'enable', lde)" uib-tooltip="Habilitar" ng-disabled="lde.STATUS == 0"><span class="glyphicon glyphicon-ok"></span></button>-->
                    <button type="button"  ng-if="session.data.group == 'TER' && preGate.LASTSTATUS != 3" class="btn btn-primary btn-sm" ng-click="update($event, 'deliver', preGate)" uib-tooltip="Entregar"><span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button"  ng-if="session.data.group == 'AGE' && preGate.LASTSTATUS != 3" class="btn btn-danger btn-sm" ng-click="update($event, 'disable', preGate)" uib-tooltip="Anular" ng-disabled="pregate.LASTSTATUS == 9"><span class="glyphicon glyphicon-remove"></span></button>
                    <!--<button type="button"  ng-if="session.data.group == 'AGE' && lde.STATUS != 3" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'place', lde)" uib-tooltip="Cambiar lugar"><span class="glyphicon glyphicon-backward"></span></button>
                    <button type="button"  ng-if="session.data.group == 'FOR' && lde.STATUS != 3" class="btn btn-info btn-sm" ng-click="updateWithModal($event, 'forward', lde)" uib-tooltip="Cambiar CUIT"><span class="glyphicon glyphicon-forward"></span></button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 right text-right">
        <button ng-if="session.data.group == 'AGE'" type="button" class="btn btn-primary" ui-sref="preGate.new"><i class="glyphicon glyphicon-open"></i> Nuevo Pre - Gate</button>
    </div>


    <div ui-view></div>


</div>