<div class="container-fluid">

    <div class="row col-lg-offset-3 col-lg-6 well top-gap">
        <form class="form-horizontal" ng-submit="saveLde()">
            <fieldset>
                <legend>Nuevo registro</legend>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="terminal" class="col-lg-2 control-label"><span class="glyphicon"></span> Terminal</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-model="newContainer.TERMINAL" id="terminal" placeholder="" ng-required="true" uib-typeahead="terminal for terminal in terminals | filter:$viewValue | limitTo:8" typeahead-editable="false" autocomplete="off" tabindex="1">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('TERMINAL')" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ship" class="col-lg-2 control-label"><span class="glyphicon"></span> Buque</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-model="newContainer.BUQUE" id="ship" placeholder="" ng-required="true" disallow-spaces toupper tabindex="2">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('BUQUE')" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="trip" class="col-lg-2 control-label"><span class="glyphicon"></span> Viaje</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-model="newContainer.VIAJE" id="trip" placeholder="" ng-required="true" disallow-spaces toupper tabindex="3">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('VIAJE')" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="container" class="col-lg-2 control-label"><span class="glyphicon"></span> Contenedor</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-model="newContainer.CONTENEDOR" id="container" placeholder="" ng-required="true" disallow-spaces toupper tabindex="4">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('CONTENEDOR')" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bl" class="col-lg-2 control-label"><span class="glyphicon"></span> Conocimiento</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-model="newContainer.BL" id="bl" placeholder="" ng-required="true" disallow-spaces toupper tabindex="5">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('BL')" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-lg-2 control-label"><span class="glyphicon"></span> Fecha</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-model="newContainer.FECHA_DEV" id="date" placeholder="" ng-required="true" uib-datepicker-popup="{{datePopUp.format}}" is-open="datePopUp.opened" datepicker-options="datePopUp.options" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" tabindex="0">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDate()" tabindex="6"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="return" class="col-lg-2 control-label"><span class="glyphicon"></span> Lugar devolución</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-model="newContainer.LUGAR_DEV" id="return" placeholder="" ng-required="true" tabindex="7">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('LUGAR_DEV')" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>
                    <!-- TODO: POR AHORA NO ESTÁ IMPLEMENTADA UNA TABLA CON LOS LUGARES POSIBLES DE DEVOLUCIÓN, ASÍ QUE HASTA ENTONCES, ESE CAMPO SERÁ UN TEXTO LIBRE -->
                    <!--<div class="form-group">
                        <label for="return" class="col-lg-2 control-label"><span class="glyphicon"></span> Lugar devolución</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-model="newContainer.LUGAR_DEV" id="return" placeholder="" ng-required="true" uib-typeahead="place._id as place.NOMBRE for place in returnPlaces | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-input-formatter="formatPlace($model)" tabindex="7">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('LUGAR_DEV')" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="cuit" class="col-lg-2 control-label"><span class="glyphicon"></span> CUIT</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-class="newContainer.CUIT != '' && !validCuit ? 'bad-input' : ''" ng-model="newContainer.CUIT" id="cuit" ng-change="validateCuit()" placeholder="" ng-required="true" disallow-spaces toupper tabindex="8">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('CUIT')" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mail" class="col-lg-2 control-label"><span class="glyphicon"></span> E-Mail cliente</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control" ng-model="newContainer.EMAIL_CLIENTE" id="mail" placeholder="" ng-required="false" disallow-spaces tabindex="9">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('EMAIL_CLIENTE')" tabindex="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-offset-2"><input type="checkbox" class="checkbox-inline" ng-model="newContainer.VENCE" id="vence" ng-true-value="'1'" ng-false-value="'0'" tabindex="10"> Este libre deuda vence</label>
                    </div>
                    <!--<div class="form-group">
                        <label for="status" class="col-lg-2 control-label"><span class="glyphicon"></span> Estado</label>
                        <div class="input-group col-lg-9">
                            <input type="text" class="form-control {{ newContainer.STATUS[0].STATUS | containerClass}}" ng-model="newContainer.STATUS[0].STATUS" id="status" placeholder="" ng-required="true" uib-typeahead="state.id as state.formatted for state in statesContainers | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-input-formatter="formatStatus($model)">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eraseField('STATUS', 'STATUS')"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        </div>
                    </div>-->
                </div>
                <div class="form-group col-lg-12 text-right">
                    <button type="submit" class="btn btn-primary" ng-disabled="!validCuit"><span class="glyphicon glyphicon-save" tabindex="11"></span> Guardar</button>
                    <button type="button" class="btn btn-default" ui-sref="lde"><span class="glyphicon glyphicon-remove-circle" tabindex="12"></span> Cancelar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>