<!DOCTYPE html>
<html lang="es" ng-app="libreDeudaAccessControl">
<head>
    <meta charset="UTF-8">
    <title>LibreDeuda Control de Acceso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css -->
    <link rel="stylesheet" href="../css/bootstrap-cosmo.css">
    <link rel="stylesheet" href="../css/app.css">
    <!-- endbuild -->
    <!-- build:bower -->
    <!-- BOWER COMPONENTS -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbuild -->
    <!-- build:app -->
    <!-- APP SCRIPT -->
    <script src="app.js"></script>
    <!-- CLASS -->
    <script src="class/user.class.js"></script>
    <!-- CONTROLLERS -->
    <script src="login/login.controller.js"></script>
    <script src="users/users.controller.js"></script>
    <!-- FACTORIES -->
    <script src="users/users.factory.js"></script>
    <!-- SERVICES -->
    <script src="services/config.service.js"></script>
    <script src="services/session.service.js"></script>
    <script src="services/storage.service.js"></script>
    <script src="services/dialogs/dialogs.js"></script>
    <!-- endbuild -->
</head>
<body class="container-fluid" ng-class="loginScreen ? 'image-background' : ''">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" uib-dropdown>
            <button type="button" class="navbar-toggle collapsed" data-target="#user" aria-expanded="false" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href class="navbar-brand"><img src="images/logo-libredeuda-chico.PNG" height="30"></a>
        </div>

        <div class="collapse navbar-collapse" id="user" aria-expanded="false" uib-collapse="isCollapsed" ng-if="session.isAuthenticated">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown open" uib-dropdown>
                    <a href="#" class="dropdown-toggle"  uib-dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="true"><span uib-dropdown-toggle class="glyphicon glyphicon-user"></span> {{ session.fullName() }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                        <li ng-click="logOut()"><a href ><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="row wrapper">
    <div ui-view></div>
</div>

<footer class="container-fluid footer" ng-hide="loginScreen">
    <hr>
    <span class="hidden-xs">Administración General de Puertos S.E. - Departamento de desarrollo <img src="images/logoPuerto.png" height="30" width="65"></span>
    <span class="visible-xs">AGP S.E. - Depto. de desarrollo <img src="images/logoPuerto.png" height="30" width="50"></span>
</footer>

</body>
</html>